$primary-color: #094b72;
$font-color: #4f4f4f;
$font-color-bright: #8c8c8c;
$background-color: #f8f9f8;

// ? MAIN HEADER | START
.main_header {
    font-family: "Poppins", sans-serif;

    &__navigation__branding__name {
        font-weight: 700;
        font-size: 1.25rem;
    }

    &__navigation__links__list__item__link {
        font-size: 0.75rem;
    }

    &__navigation__search {
        color: $font-color;
    }
}

@media (min-width: 768px) {
    .main_header {
        &__navigation__search {
            margin-left: 8rem;
        }
    }
}

// ? MAIN HEADER | END

// ? HERO SECTION | START

.hero {
    background: url("./images/hero__background.png");
    background-position: bottom right;
    background-size: cover;
    background-color: $background-color;

    &__container {
        background-color: $background-color;
    }

    &__name {
        font-size: 5.5rem;
        font-family: "Playfair Display", serif;
        color: $primary-color;
        width: 57%;
        padding-top: 8rem;
    }

    &__info {
        font-size: 1.5rem;
        color: $font-color;
        margin: 2.5rem 0;
        width: 57%;
    }

    &__call_to_action {
        text-decoration: none;
        background: $primary-color;
        color: #ffffff;
        font-weight: 700;
        padding: 2rem;
        display: inline-block;
        border-radius: 1rem;
        margin-bottom: 6rem;
    }

    &__sponsors__name {
        font-size: 1.25rem;
        color: $font-color-bright;
        margin-bottom: 2rem;
        display: inline-block;
    }

    &__sponsors__gallery {
        max-width: 18rem;
        padding-bottom: 4rem;
    }
}

@media (max-width: 1400px) {
    .hero {
        &__name {
            font-size: 4.5rem;
            padding-top: 6rem;
        }

        &__info {
            width: 45%;
            font-size: 1.25rem;
        }

        &__call_to_action {
            padding: 1.75rem;
        }
    }
}

@media (max-width: 1024px) {
    .hero {
        &__name {
            width: 75%;
        }
    }
}

@media (max-width: 992px) {
    .hero {
        &__container {
            background-position: right;
        }

        &__info {
            width: 75%;
        }
    }
}

@media (max-width: 768px) {
    .hero {
        background: none;

        &__container {
            background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9)),
                url("./images/hero__background_portrait.png");
            background-position: left;
            background-repeat: no-repeat;
        }

        &__name {
            font-size: 3.5rem;
            width: 90%;
            color: #ffffff;
            text-shadow: 1px -1px 4px $primary-color, 1px 1px 4px $primary-color, -1px 1px 4px $primary-color,
                -1px -1px 4px $primary-color;
            padding-top: 4rem;
        }

        &__info {
            font-size: 1.25rem;
            width: 90%;
            color: #ffffff;
        }

        &__call_to_action {
            margin-bottom: 2rem;
        }

        &__sponsors__name {
            color: #ffffff;
            font-size: 1.25rem;
        }
    }
}

@media (max-width: 576px) {
    .hero {
        &__name {
            text-align: center;
            width: 100%;
        }

        &__info {
            text-align: center;
            width: 100%;
        }

        &__call_to_action {
            width: 100%;
            text-align: center;
        }

        &__sponsors__gallery {
            max-width: 8rem;
            margin: 0 auto;
        }
    }
}

// ? HERO SECTION | END
