* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.page_title {
  text-align: center;
  margin: 2rem 0;
}

.bmi_calculator {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;

  .section_name {
    display: block;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  .subheading {
    font-size: 0.8rem;
    opacity: 0.67;
  }

  .gender_selection {
    margin-bottom: 1rem;

    &__name {
      @extend .section_name;
    }

    &__inputs {
      display: flex;
      gap: 2rem;
    }
  }

  .age_selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    &__name {
      @extend .section_name;
    }
  }

  .height_selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    &__name {
      @extend .section_name;
    }
  }

  .weight_selection {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;

    &__name {
      @extend .section_name;
    }
  }
}

.bmi_result,
.bmi_value {
  text-align: center;
  display: block;
  font-size: 3rem;
}
