*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.all-boards {
  margin: 0 auto;
  width: 95%;
  max-width: 968px;

  &__name {
    text-align: center;
    margin: 1rem 0;
  }
}

.board-form {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 0 auto;

  &__name-input,
  &__description-input,
  &__submit {
    font-family: inherit;
    padding: 0.4rem;
    border: 1px solid #ccc;
    border-radius: 0.4rem;
    display: block;
    margin-bottom: 0.5rem;
  }
}

.board-preview-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  margin: 1rem 0;
  list-style: none;

  & > * {
    width: 25%;
  }

  &__item {
    min-width: 250px;
    &__link {
      text-decoration: none;
      color: #333;
    }
  }
}

.board-preview {
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 1rem;

  &__name {
    font-size: 1.5rem;
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }
}

.board-page {
  display: flex;
  flex-direction: column;
  max-width: 968px;
  width: 96%;
  margin: 0 auto;

  &__name {
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 0.4rem;
  }

  &__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__description {
    opacity: 0.75;
  }
}

.board-actions {
  display: flex;
  align-items: center;
  gap: 0.4rem;

  &__form {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    &__inputs {
      display: flex;
      align-items: center;
      gap: 0.2rem;

      &__name,
      &__description {
        padding: 0.4rem;
        border-radius: 0.4rem;
        border: 1px solid #333;
      }
    }

    &__submit {
      padding: 0.4rem;
      border-radius: 0.4rem;
      border: none;
      cursor: pointer;
    }
  }

  &__delete {
    padding: 0.4rem;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
  }
}

.lists-container {
  margin: 1rem 0;
  overflow: auto;
  height: 600px;
  display: flex;
  flex-wrap: nowrap;
  gap: 1.4rem;
}

.list {
  min-width: 305px;
  max-width: 305px;
  padding: 0.8rem;
  background: #ccc;
  border-radius: 0.4rem;

  &__info {
    // display: flex;
    // justify-content: space-between;
    // align-items: center;
    margin-bottom: 0.4rem;
    gap: 0.6rem;

    &__name {
      display: block;
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}

.list-actions {
  display: flex;
  align-items: center;
  gap: 0.2rem;
  & > * {
    flex: 1;
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    & > * {
      flex: 1;
    }

    &__name {
      width: 100%;
      padding: 0.2rem;
      border: 1px solid #ccc;
      border-radius: 0.2rem;
    }

    &__submit {
      border: none;
      padding: 0.2rem;
      border-radius: 0.2rem;
      cursor: pointer;
    }
  }

  &__move,
  &__copy {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    & > * {
      flex: 1;
    }

    &__submit {
      border: none;
      padding: 0.2rem;
      border-radius: 0.2rem;
      cursor: pointer;
    }
  }

  &__delete {
    border: none;
    padding: 0.2rem;
    border-radius: 0.2rem;
    cursor: pointer;
  }
}

.list-form {
  display: flex;
  align-items: center;
  height: fit-content;
  gap: 0.2rem;
  padding: 0.4rem;
  padding-top: 0;

  &__name {
    width: 12rem;
    border: 1px solid #ccc;
  }

  &__submit {
    width: 4.5rem;
    border: none;
    cursor: pointer;
  }

  &__name,
  &__submit {
    padding: 0.4rem;
    border-radius: 0.4rem;
  }
}

.task-form {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  margin-bottom: 1.2rem;

  &__name {
    width: 100%;
    border: 1px solid #ccc;
  }

  &__submit {
    width: 8rem;
    border: none;
    cursor: pointer;
  }

  &__name,
  &__submit {
    padding: 0.4rem;
    border-radius: 0.4rem;
  }
}

.task {
  background: #ddd;
  margin-bottom: 0.4rem;
  padding: 0.2rem;
  border-radius: 0.2rem;

  &-content {
    margin-bottom: 0.4rem;
    overflow-wrap: break-word;
  }
}

.task-actions {
  display: flex;
  align-items: center;
  gap: 0.2rem;

  & > * {
    flex: 1;
  }

  &__form {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    & > * {
      flex: 1;
    }

    &__name {
      padding: 0.2rem;
      border: 1px solid #ccc;
      border-radius: 0.2rem;
    }

    &__submit {
      padding: 0.2rem;
      border: none;
      border-radius: 0.2rem;
      cursor: pointer;
    }
  }

  &__move,
  &__copy {
    display: flex;
    align-items: center;
    gap: 0.2rem;

    & > * {
      flex: 1;
    }

    &__options {
      display: flex;
      flex-direction: column;
      gap: 0.2rem;
    }

    &__submit {
      padding: 0.2rem;
      border: none;
      border-radius: 0.2rem;
      cursor: pointer;
    }
  }

  &__delete {
    padding: 0.2rem;
    border: none;
    border-radius: 0.2rem;
    cursor: pointer;
  }
}

.back-to-home {
  color: #333;
}
