.bio-data {
  padding: 2rem;
  border-radius: 0.6rem;
  background: #b2b2b2;

  &__name {
    text-align: center;
  }

  .personal-information,
  .hobbies,
  .interests {
    margin: 1rem 0;

    &__name {
      margin-bottom: 0.5rem;
    }
  }

  .personal-information {
    &__item {
      margin: 0.2rem 0;

      display: flex;

      &__name {
        flex: 0.45;
      }

      &__divider {
        flex: 0.05;
      }

      &__info {
        flex: 0.5;
        align-self: flex-end;
      }
    }
  }

  .hobbies {
    &__hobby {
      margin: 0.2rem 0;
    }
  }

  .interests {
    &__interest {
      margin: 0.2rem 0;
    }
  }
}
