* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.container {
    margin: 0 auto;
    width: 90%;
    max-width: 1100px;
}

#main_header {
    padding: 1rem 0;
    background: #f3fcf7;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.page_title {
    font-size: 2rem;
    color: #06c167;
}

.page_navigation ul {
    display: flex;
    list-style: none;
}

.page_navigation li {
    margin-left: 2rem;
}

.page_navigation a {
    text-decoration: none;
    color: #000;
}

.page_navigation li:first-child a:first-child {
    position: relative;
    color: #06c167;
}

.page_navigation li:first-child a:first-child::after {
    content: '';
    height: 5px;
    width: 5px;
    background: #06c167;
    position: absolute;
    top: 24px;
    left: 50%;
    border-radius: 50%;
}

#hero {
    background: #f3fcf7;
}

.hero_container {
    position: relative;
}

.hero_container img {
    position: absolute;
}

.hero_banner {
    right: 20px;
    top: 40px;
}

.hero_banner_dots {
    right: -10px;
    bottom: -50px;
}

.hero_rating_a {
    top: 340px;
    right: 350px;
}

.hero_rating_b {
    top: 240px;
    right: -20px;
}

.hero_logo {
    top: 600px;
}

.hero_description {
    padding: 4rem 0;
    width: 45%;
    padding-bottom: 8rem;
}

.hero_description h1 {
    font-size: 4rem;
}

.hero_description p {
    margin: 2rem 0;
    font-size: 18px;
}

.hero_description .call_to_action {
    background: #06c167;
    padding: 1.5rem;
    width: 230px;
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.hero_description .call_to_action a {
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: #fff;
    font-weight: 300;
}

.hero_description .call_to_action img {
    display: block;
    position: static;
}

.hero_section_end {
    margin-top: 14rem;
    opacity: 0.3;
}

#services {
    margin: 3rem 0;
}

.services_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services_section_end {
    opacity: 0.3;
}

.benefits_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#benefits {
    margin: 6rem 0;
}

.benefits_content {
    width: 50%;
    position: relative;
}

.benefits_content h2 {
    font-size: 3rem;
    margin: 2rem 0;
    margin-bottom: 4rem;
}

.benefits_content li {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0.5rem;
}

.benefits_content span {
    margin-left: 1rem;
}

.benefits_content img:last-child {
    position: absolute;
    top: 40px;
    left: -60px;
    z-index: -1;
}

.benefits_banner {
    width: 40%;
}

.benefits_banner img {
    width: 100%;
}

.stats_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats_content {
    width: 40%;
    position: relative;
}

.stats_content h2 {
    font-size: 3rem;
    margin: 2rem 0;
    margin-bottom: 4rem;
}

.stats_content .stats_numbers {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
    text-align: center;
}

.stats_numbers span {
    display: block;
    font-size: 2.5rem;
    margin-bottom: 0.75rem;
}

.stats_numbers p {
    font-size: 14px;
    opacity: 0.5;
}

.stats_content .call_to_action {
    background: #06c167;
    width: 230px;
    padding: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats_content .call_to_action a {
    text-decoration: none;
    color: #fff;
}

.stats_content .call_to_action img {
    display: block;
}

.stats_content > img:last-child {
    position: absolute;
    top: 40px;
    left: -40px;
    z-index: -1;
}

.stats_banner {
    width: 40%;
}

.stats_banner img {
    width: 100%;
}

#gallery {
    margin: 8rem 0;
}

.gallery_content > p:first-child {
    text-align: center;
    margin-bottom: 1rem;
}

.gallery_content > h2 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 3rem;
}

.gallery_cards {
    display: flex;
    flex-direction: column;
}

.gallery_cards > div {
    display: flex;
    justify-content: space-between;
}

.gallery_cards .item {
    display: flex;
    width: 50%;
}

.gallery_cards .item > * {
    width: 50%;
    border: 1px solid #06c167;
    border-collapse: collapse;
}

.gallery_cards .item .content_container {
    order: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f3fcf7;
}

.gallery_cards .item .content {
    height: 80%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.gallery_cards .item .content h3 {
    font-size: 2rem;
}

.gallery_cards .item .call_to_action {
    background: #06c167;
    display: flex;
    padding: 0.5rem;
    width: 170px;

    align-items: center;
    justify-content: space-between;
}

.gallery_cards .item .call_to_action a {
    text-decoration: none;
    display: block;
    color: #fff;
    font-weight: 300;
}

.gallery_cards .item .call_to_action img {
    display: block;
    position: static;
}

#products {
    margin: 4rem 0;
}

.products_container p {
    margin: 1rem 0;
}

.products_container h2 {
    font-size: 3rem;
    margin-bottom: 3rem;
}

.product_list {
    display: flex;
    justify-content: space-between;
}

.product {
    border: 2px solid rgba(165, 165, 165, 0.562);
    padding: 1rem;
    width: 23%;
}

.product > img:first-child {
    width: 90%;
    display: block;
    margin: 0 auto;
}
.product > img:nth-child(2) {
    display: block;
    margin: 1rem auto;
}

.product p {
    text-align: center;
    font-size: 1.15rem;
    margin: 1.5rem;
}

.product del {
    color: rgba(165, 165, 165, 0.562);
}

.product span {
    color: #06c167;
}

.product .call_to_action {
    border: 1px solid #06c167;
    display: flex;
    padding: 1.25rem 1.25rem;

    align-items: center;
    justify-content: space-between;
}

.product .call_to_action a {
    text-decoration: none;
    display: block;
    color: #06c167;
    font-weight: 300;
}

.product .call_to_action img {
    display: block;
    position: static;
}

#learn_more {
    margin: 8rem 0;
}

.learn_more_container {
    height: 500px;
    background: url('./src/image/learn_more_banner.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.learn_more_container h2 {
    text-align: center;
    font-size: 4rem;
    color: #fff;
    padding-top: 8rem;
    margin-bottom: 2rem;
}

.learn_more_container .call_to_action_container {
    width: 230px;
    margin: 0 auto;
}

.learn_more_container .call_to_action {
    background: #06c167;
    padding: 1.5rem;
    display: flex;

    align-items: center;
    justify-content: space-between;
}

.learn_more_container .call_to_action a {
    text-decoration: none;
    font-size: 20px;
    display: block;
    color: #fff;
    font-weight: 300;
}

.learn_more_container .call_to_action img {
    display: block;
    position: static;
}

.footer_container {
    display: flex;
    height: 200px;
}

.footer_container > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer_container div:first-child {
    flex: 2;
}

.footer_container h4 {
    font-size: 1.5rem;
}

.footer_container .col_a h4 {
    color: #06c167;
}
.footer_container .col_a p {
    width: 60%;
}

.footer_container .col_a .logos img {
    margin-right: 1rem;
}

.footer_container .col_b li {
    list-style: none;
    margin-top: 1rem;
}

.footer_container .col_c li {
    list-style: none;
    margin-top: 1rem;
}

.footer_container .col_d .form {
    display: flex;
    gap: 1rem;
}

.footer_container .col_d input {
    border: none;
    background: #f0f1ec;
    padding: 1rem;
    opacity: 0.7;
}

.footer_container .col_d a {
    background: #06c167;
    color: #fff;
    text-decoration: none;
    padding: 1rem;
    align-self: center;
}

.footnote p {
    text-align: center;
    margin: 2rem;
    margin-top: 4rem;
}
