:root {
    --primary-color: #06c167;
    --primary-font-color: #1d1d1f;
    --secondary-font-color: #fff;
    --tertiary-font-color: #767675;
    --primary-background-color: #f3fcf7;
    --secondary-background-color: #fff;
    --tertiary-background-color: #e6f9f0;
    --image-background-color: #f3fafb;
    --primary-border-color: #70707025;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ? GLOBALS */

.container {
    margin: 0 auto;
    width: 95%;
    max-width: 1200px;
}

.call_to_action {
    padding: 1.5rem 3rem;
    width: 14rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--primary-color);
    text-decoration: none;
    color: var(--secondary-font-color);
    transition: all 0.3s ease-in-out;
}

.call_to_action:hover {
    background: transparent;
    outline: 2px solid var(--primary-color);
    color: var(--primary-color);
}

.call_to_action > i {
    font-size: 1.5rem;
}

body {
    color: var(--primary-font-color);
    font-family: "Inter", sans-serif;
}

/* ? MAIN HEADER */

.main_header__container {
    background: var(--primary-background-color);
    padding: 2.5rem 0;
}

.main_header > * {
    display: block;
}

.main_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main_header__branding {
    font-size: 2rem;
    font-weight: 500;
    color: var(--primary-color);
}

.main_header__navigation__list {
    display: flex;
    align-items: center;
}

.main_header__navigation__item {
    margin-left: 1.5rem;
    list-style: none;
    transition: all 0.3s ease-in-out;
}

.main_header__navigation__item:hover {
    transform: scale(1.1);
}

.main_header__navigation__link {
    text-decoration: none;
    color: var(--primary-font-color);
    transition: all 0.3s ease-in-out;
}

.main_header__navigation__link:hover {
    color: var(--primary-color);
}

.main_header__navigation__link--active {
    position: relative;
    color: var(--primary-color);
}

.main_header__navigation__link--active::after {
    content: "";
    height: 4px;
    width: 4px;
    background: var(--primary-color);
    position: absolute;
    top: 1.5rem;
    left: 50%;
    border-radius: 50%;
}

/* ? HERO */

.hero__container {
    background: var(--primary-background-color);
}

.hero {
    display: flex;
    position: relative;
    gap: 6rem;
}

.hero > * {
    flex: 1;
}

.hero__content {
    padding-top: 4rem;
    padding-bottom: 8rem;
}

.hero__content__heading {
    font-size: 5rem;
    font-weight: 600;
}

.hero__content__description {
    opacity: 0.75;
    margin: 1rem 0;
}

.hero__content__call_to_action {
    margin-top: 2rem;
}

.hero__banner {
    position: relative;
}

.hero__banner__main {
    position: absolute;
    right: 0;
}

.hero__banner__star__rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: -2rem;
    top: 22rem;
    padding: 1rem 1rem;
    border-radius: 1.75rem;
    background: var(--secondary-background-color);
}

.hero__banner__star__rating__stars__icon {
    color: var(--primary-color);
}

.hero__banner__overview_rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    position: absolute;
    top: 14rem;
    right: -4rem;
    padding: 0.5rem;
    background: var(--secondary-background-color);
    border-radius: 1.75rem;
}

.hero__banner__dots_overlay {
    position: absolute;
    right: -4rem;
    bottom: -8rem;
}

/* ? BRAND LINKS */

.brand_links {
    display: flex;
    padding: 2rem 0;
    margin-bottom: 8rem;
}

.brand_links__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin-right: 4rem;
    opacity: 0.5;
}

.brand_links__link:nth-child(1) {
    text-transform: uppercase;
    font-family: monospace;
}

.brand_links__link:nth-child(3) {
    font-weight: 700;
}

.brand__links__link__name {
    font-size: 1.5rem;
}

/* ? SERVICES */

.services {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
    padding: 4rem 0;
    border-top: 2px solid var(--primary-border-color);
    border-bottom: 2px solid var(--primary-border-color);
}

.services__service {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.services__service__logo {
    padding: 0.75rem;
    border-radius: 0.5rem;
    background: var(--primary-background-color);
    color: var(--primary-color);
    font-size: 1.75rem;
}

.services__service__content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 0.5rem;
}

.services__service__content__name {
    font-size: 1.125rem;
}

.services__service__content__info {
    font-size: 0.75rem;
}

/* ? BENEFITS */

.benefits {
    padding: 10rem 0;
    display: flex;
    gap: 6rem;
}

.benefits__banner {
    padding: 0 4rem;
    padding-bottom: 6rem;
    background: var(--image-background-color);
}

.benefits__content {
    position: relative;
}

.benefits__content__info {
    font-size: 0.9rem;
}

.benefits__content__title {
    font-size: 3.75rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.benefits__content__item {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-bottom: 1rem;
}

.benefits__content__item__icon {
    font-size: 1.5rem;
    color: var(--primary-color);
}

.benefits__content__dots_overlay {
    position: absolute;
    top: 4rem;
    left: -4rem;
    z-index: -1;
}

/* ? STAT */

.stat {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
}

.stat__content {
    position: relative;
}

.stat__content__info {
    font-size: 0.9rem;
}

.stat__content__title {
    font-size: 3.75rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 4rem;
}

.stat__content__stats {
    display: flex;
    justify-content: space-between;
}

.stat__content__stats__item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.stat__content__stats__item__title {
    color: var(--primary-color);
    font-size: 2.75rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.stat__content__stats__item__info {
    font-size: 0.9rem;
}

.stat__content__call_to_action {
    margin-top: 4rem;
    padding: 1.5rem;
}

.stat__content__dots__overlay {
    top: 3rem;
    left: -2rem;
    position: absolute;
    z-index: -1;
}

.stat__banner {
    padding-left: 6rem;
    padding-bottom: 6rem;
    background: var(--image-background-color);
}

/* ? FEATURES */

.features {
    padding: 10rem 0;
}

.features__info {
    display: block;
    text-align: center;
    font-size: 0.9rem;
}

.features__title {
    text-align: center;
    font-size: 3.75rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.features__gallery__row {
    display: flex;
}

.features__gallery__row > * {
    flex: 1;
}

.features__gallery__row__item {
    display: flex;
}

.features__gallery__row__item__content {
    border: 2px solid var(--primary-color);
    background: var(--primary-background-color);
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.features__gallery__row__item__content__title {
    font-weight: 500;
    font-size: 2rem;
    padding-top: 2rem;
    padding-left: 2rem;
}

.features__gallery__row__item__content__info {
    padding-left: 2rem;
}

.features__gallery__row__item__content__call_to_action {
    width: 11rem;
    margin-left: 2rem;
    margin-bottom: 2rem;
    padding: 0.5rem 1rem;
    background: var(--tertiary-background-color);
    color: var(--primary-color);
}

.features__gallery__row__item__content__call_to_action:hover {
    outline: 1px solid var(--primary-color);
}

.features__gallery__row__item__content__call_to_action > i {
    font-size: 1.15rem;
}

.features__gallery__row__item__image {
    flex: 1;
}

.features__gallery__row:nth-child(2) .features__gallery__row__item__content {
    order: -1;
}

/* ? PRODUCTS */

.products__info {
    font-size: 0.9rem;
}

.products__title {
    font-size: 3.75rem;
    font-weight: 500;
    margin-top: 2rem;
    margin-bottom: 6rem;
}

.products__gallery {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.products__gallery__product {
    border: 2px solid var(--primary-border-color);
    padding: 2rem;
}

.products__gallery__product__image {
    margin-bottom: 0.5rem;
}

.products__gallery__product__rating {
    display: flex;
    justify-content: center;
    gap: 0.4rem;
    color: var(--primary-color);
}

.products__gallery__product__name {
    font-size: 1.25rem;
    display: block;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 1.25rem;
}

.products__gallery__product__pricing {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    font-size: 1.25rem;
}

.products__gallery__product__price--old {
    color: var(--tertiary-font-color);
    text-decoration: line-through;
}

.products__gallery__product__price--new {
    color: var(--primary-color);
}

.products__gallery__product--highlight {
    border: 2px solid var(--primary-color);
}

.products__gallery__product__call_to_action {
    margin-top: 1.25rem;
    padding: 1rem 2rem;
    width: 12rem;
    border: 2px solid var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--primary-color);
    text-decoration: none;
    transition: all 0.3s ease-in-out;
}

.products__gallery__product__call_to_action:hover {
    color: var(--secondary-background-color);
    background: var(--primary-color);
}

.products__gallery__product__call_to_action > i {
    font-size: 1.5rem;
}

/* ? LEARN MORE */

.learn_more {
    height: 32rem;
    margin: 10rem auto;
    background: url("./images/learn_more__background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.learn_more__title {
    text-align: center;
    padding-top: 10rem;
    font-size: 3.5rem;
    color: var(--secondary-background-color);
}

.learn_more__call_to_action {
    margin: 2rem auto;
}

.learn_more__call_to_action:hover {
    color: var(--secondary-font-color);
}

/* ? MAIN FOOTER */

.main_footer {
    display: flex;
    margin-bottom: 4rem;
}

.main_footer > * {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main_footer__col_a {
    flex: 2;
}

.main_footer__col_a__title {
    color: var(--primary-color);
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.main__footer__col_a__info {
    margin-bottom: 2rem;
}

.main_footer__col_a__links {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 1.125rem;
}

.main_footer__col_a__links__item:hover {
    cursor: pointer;
}

.main_footer__col_b__title {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.main_footer__col_b__links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
}

.main_footer__col_b__links__link {
    text-decoration: none;
    color: var(--primary-font-color);
}

.main_footer__col_c__title {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.main_footer__col_c__links {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    list-style: none;
}

.main_footer__col_c__links__link {
    text-decoration: none;
    color: var(--primary-font-color);
}

.main_footer__col_d__title {
    display: block;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
}

.main_footer__col_d_info {
    margin-bottom: 1.5rem;
}

.main_footer__col_d__form {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.main_footer__col_d__form_input {
    border: none;
    padding: 1rem;
    background: var(--primary-background-color);
}

.main_footer__col_d__form_submit {
    border: none;
    padding: 1rem 1.25rem;
    background: var(--primary-color);
    color: var(--secondary-font-color);
    transition: all 0.3s ease-in-out;
}

.main_footer__col_d__form_submit:hover {
    cursor: pointer;
    outline: 2px solid var(--primary-color);
    color: var(--primary-color);
    background: transparent;
}
